/* You can add global styles to this file, and also import other style files */
$bug: #94BC4A;
$dark: #736C75;
$dragon: #6A7BAF;
$electric: #E5C531;
$fairy:#E397D1;
$fighting: #CB5F48;
$fire: #EA7A3C;
$flying: #7DA6DE;
$ghost: #846AB6;
$grass: #71c558;
$ground: #cc9f4f;
$ice: #70cbd4;
$normal: #aab09f;
$poison: #b468b7;
$psychic: #e5709b;
$rock: #b2a061;
$steel: #89a1b0;
$water: #539ae2;

* {
    padding: 0;
    margin: 0;
}
body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}